<footer class="footer-bottom">
    <div class="container">
        <div id="footer-info" class="inner">
            Content and images &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        </div>
    </div>
</footer>
