<footer class="footer-bottom">
    <div class="container">
        <div id="footer-info" class="inner">
            <p>Copyright &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %></p>
        </div>
    </div>
</footer>
